##############################################################
##############################################################
# This is an example configuration provided by Wraith.
# Feel free to amend for your own requirements.
# ---
# This particular config is intended to demonstrate how
# to use Wraith in 'capture' mode, which is best suited to
# comparing a test and live version of the same website.
#
# `wraith capture capture.yaml`
#
##############################################################
##############################################################
browser: "casperjs"

domains:
  theme-slug:  "https://demo.themeisle.com/theme-slug"

paths:
  main: /

screen_widths:
  - 320
  - 480
  - 768
  - 1024
  - 1280
  - 1920

before_capture: 'javascript/wait--casper.js'

directory: 'compare_tmp_shots'

resize_or_reload: "resize"

fuzz: '20%'

threshold: 5

gallery:
  template: 'basic_template' # Examples: 'basic_template' (default), 'slideshow_template'
  thumb_width:  200
  thumb_height: 200

mode: diffs_first
mode: alphanumeric

# verbose: true

highlight_color: red

phantomjs_options: "--ignore-ssl-errors=true --ssl-protocol=any"

