##############################################################
##############################################################
# This is an example configuration provided by Wraith.
# Feel free to amend for your own requirements.
# ---
# This particular config is intended to demonstrate how
# to use Wraith in 'capture' mode, which is best suited to
# comparing a test and live version of the same website.
#
# `wraith capture capture.yaml`
#
##############################################################
##############################################################
browser: 'phantomjs'

domains:
  theme-slug:  "https://demo.themeisle.com/theme-slug"

screen_widths:
  - 320
  - 768
  - 1280

before_capture: 'javascript/wait--phantom.js'

directory: 'theme-slug_shots'

history_dir: 'theme-slug_history'

resize_or_reload: 'resize'

fuzz: '20%'

threshold: 5

gallery:
  template: 'basic_template' # Examples: 'basic_template' (default), 'slideshow_template'
  thumb_width:  200
  thumb_height: 200

mode: diffs_first

verbose: true

highlight_color: red

phantomjs_options: "--ssl-protocol=tlsv1 --ignore-ssl-errors=yes"

